{% extends "form2/base.html" %}
{% block form %}

  <div class="content">
    <h1>Teams and Members</h1>

    <div class="field is-grouped is-grouped-multiline">
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-dark">Teams</span>
            <span class="tag is-primary">{{teams|length}}</span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-dark">Participants</span>
            <span class="tag is-primary">{{num_members}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="box table-box">
      <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>Division</th>
              <th>Team Name</th>
              <th>Team Members</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for team in teams|sort(attribute='division') %}
            <tr>
              <th>{{team.division}}</th>
              <td>{{team.team_name}}</td>
              {% for member in team.members %}
                <td>{{member.first_name}} {{member.last_name}}</td>
              {% endfor %}

              {% set pad = 3 - team.members|length %}
              {% for i in range(pad) %}
                <td></td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

  </div>

{% endblock %}
