{% extends "base2.html" %}

{% from 'form2/common/macros.html'
    import button, field, label, select with context %}

{% block styles %}
    <link href="{{url_for('static', filename='styles/form.css')}}" rel="stylesheet">
{% endblock styles %}

{% block content %}

    <section class="section form">
        <div class="container">
            <div class="columns is-centered">
                <div class="column {% block formsize %}is-12{% endblock formsize %}">
                    {% block form %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
