{% extends "form2/account_form.html" %}

{% block formsize %} is-8 {% endblock %}

{% block form %}

    <form action="" method="post">
      {{ form.hidden_tag() }}

      <h3>Editable Account Details</h3>
      {{ field(form.first_name) }}
      {{ field(form.last_name) }}
      {{ field(form.fsuid) }}
      
      <h3>Extra Credit Courses</h3>

      <table class="table is-fullwidth">
        <tbody>
          {{ form.courses }}
        </tbody>
      </table>

      {{ button(form.submit) }}

    </form>


{% endblock %}
