{% extends "form2/base.html" %}

{% block formsize %} is-half {% endblock %}

{% block form %}

    <h1 class="title">
        Individual Registration
    </h1>

    <p>
        You still will need to join a team before participating.
        <!-- <small>(You <strong>will</strong> need to join a team to participate.)</small> -->
    </p>
    <br>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ field(form.email) }}
        {{ field(form.password) }}
        {{ field(form.first_name) }}
        {{ field(form.last_name) }}
        {{ field(form.fsuid) }}

        <h4>Extra Credit Courses</h4>
        <p class="help is-danger">
            Courses marked with '(not verified)' have not been verified to give extra credit.
            Speak with your professor to see if they will be giving extra credit.
        </p>

        <table class="table is-fullwidth">
            <tbody>
                {{ form.courses }}
            </tbody>
        </table>
  
        
        <p class="help is-danger">
            <!-- <i class="fas fa-exclamation-circle"></i> -->
            If you do not provide an FSUID you can not receive extra credit.
        </p>
        {{ button(form.submit) }}
    </form>

{% endblock %}

