# Compile files
*.pyc
*.pem
*.sassc
*.sass-cache*
# app/static/styles/**/*.css

# Docs dist
/docs/.vuepress/dist

# Dep files
**/node_modules/

# IDE scraps
.idea
.vscode

# Configuration
config/production.py
**/.env

# OS Specific
*.DS_Store

# Misc files
*.tsv
*.afdesign

# Other
/credit
