# Compile files
*.pyc
*.pem
*.sassc
*.sass-cache*

# app/static/styles/**/*.css

# Dep files
**/node_modules/

# IDE scraps
.idea
.vscode

# Configuration
config/production.py
**/.env

# OS Specific
*.DS_Store

# Misc files
*.tsv
*.afdesign
