[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
invoke = "*"
pytest = "*"
black = "*"
pylint-mongoengine = "*"
pre-commit = "*"
pylint = "==1.9.2"

[packages]
bleach = "==1.5.0"
flask = "==0.11.1"
flask-admin = "*"
flask-bootstrap = "==3.3.7.1"
flask-mongoengine = "==0.9.2"
flask-mail = "==0.9.1"
flask-recaptcha = "==0.4.2"
flask-wtf = "==0.14.2"
xkcdpass = "==1.9.2"
flask-nav = "==0.6"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
