
{% macro label(element) %}
    {{ element.label(class_='label') }}
{% endmacro %}


{% macro field(element) %}
    <div class="field">
        {{ label(element) }}
        <div class="control">
            {{ element(class_='input') | safe }}
        </div>
        {% if element.errors %}
            {% for error in element.errors %}
            <p class="help is-danger">
                <i class="fas fa-exclamation-circle"></i>
                {{ error }}
            </p>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{% macro button(element) %}
    <div class="field">
        <div class="control">
            {{ element(class_="button acm is-primary")}}
        </div>
    </div>
{% endmacro %}

{% macro select(element) %}
    <div class="field">
        {{ label(element) }}

        <div class="control">
            <div class="select">
                <select>
                    {% for option in element%}
                        {{ option }}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
{% endmacro %}
