.content.has-text-centered
    .logo-links
        a.icon.is-medium(href="https://www.twitter.com/HackFSU" target="_blank" title="@HackFSU on Twitter")
            i.fab.fa-lg.fa-twitter
        a.icon.is-medium(href="https://www.facebook.com/hackfsu" target="_blank" title="HackFSU on Facebook")
            i.fab.fa-lg.fa-facebook-f
        a.icon.is-medium(href="https://www.instagram.com/hackfsu" target="_blank" title="HackFSU on Instagram")
            i.fab.fa-lg.fa-instagram
        a.icon.is-medium(href="https://github.com/HackFSU" target="_blank" title="HackFSU on GitHub")
            i.fab.fa-lg.fa-github
    .copyright © 2018 ACM at FSU
