<footer class="footer">
    <div class="container">
        <div class ="buttons is-centered">
          <!-- <a class="button acm is-primary">Register</a> -->
          {% include "common/register-button.html" %}
          {% include "common/contact-button.html" %}
        </div>

        <div class="content has-text-centered">
          <div class="logo-links">
            <!-- <a class="icon is-medium" href="https://www.twitter.com/HackFSU" target="_blank" title="@HackFSU on Twitter">
              <i class="fab fa-lg fa-twitter"></i>
            </a> -->
            <a class="icon is-medium" href="https://www.facebook.com/acmatfsus" target="_blank" title="ACM at FSU on Facebook">
              <i class="fab fa-lg fa-facebook-f"></i>
            </a>
            <a class="icon is-medium" href="https://acmatfsu.slack.com" target="_blank" title="ACM at FSU on Slack">
              <i class="fab fa-lg fa-slack"></i></a>
            <a class="icon is-medium" href="https://github.com/fsu-acm" target="_blank" title="ACM at FSU on GitHub">
              <i class="fab fa-lg fa-github"></i>
            </a></div>
          <div class="copyright">© 2019 ACM at FSU</div>
        </div>
    </div>
  </footer>
