<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1>spring programming contest</h1>
                <!-- <h1>spc.2018</h1> -->
            <!-- <img src="{{url_for('static', filename='assets/acm-logo.png')}}" alt="ACM at FSU" width="56" height="56"> -->
            </a>

            <button class="button navbar-burger">
            <span></span>
            <span></span>
            <span></span>
            </button>
        </div>
    </div>
</nav>
