@import "base"

// h1
//     @include Montserrat(700)


body
    // background-image: url('../assets/background-pink.svg')
    // background-size: cover

section.form

    .box.table-box
        border: 1px solid #ddd
        border-radius: 4px
        box-shadow: none


#forgot-password-container
    margin-top: 1.5rem
    display: flex
    justify-content: center
