@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/* -------------------------------------------------------------
 *  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
 *  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
 *
 *  List of CSS3 Sass Mixins File to be @imported and @included as you need
 *
 *  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
 *  ENDING css files
 *
 *  note: All CSS3 Properties are being supported by Safari 5
 *  more info: http://www.findmebyip.com/litmus/#css3-properties
 *
 *------------------------------------------------------------- */
@font-face {
  font-family: "Avenir-Next-Bold";
  src: url(../../fonts/Avenir-Next-Bold.ttf); }
.banner {
  text-transform: uppercase;
  margin-top: -70px;
  padding-top: 70px; }
  .banner h1 {
    font-size: 36px;
    text-shadow: -3px 0px 0px rgba(255, 233, 2, 0.4);
    line-height: 0.9;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #ffe902; }
    @media screen and (min-width: 500px) {
      .banner h1 {
        font-size: 56px; } }
    @media screen and (min-width: 768px) {
      .banner h1 {
        font-size: 78px; } }
    @media screen and (min-width: 1300px) {
      .banner h1 {
        font-size: 96px; } }
  .banner h2 {
    font-size: 30px;
    text-shadow: -3px 0px 0px rgba(233, 233, 233, 0.4);
    line-height: 0.8;
    color: #ffffff; }
    @media screen and (min-width: 500px) {
      .banner h2 {
        font-size: 38px; } }
    @media screen and (min-width: 768px) {
      .banner h2 {
        font-size: 44px; } }
    @media screen and (min-width: 1300px) {
      .banner h2 {
        font-size: 76px; } }
  .banner button {
    font-size: 12px;
    border-radius: 100px;
    padding: 4px 48px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 16px;
    margin-bottom: 16px;
    min-width: 220px; }
    @media screen and (min-width: 500px) {
      .banner button {
        font-size: 18px; } }
  .banner .register {
    border: 3px solid #ff6e40;
    background-color: #ff6e40;
    color: #ffffff; }
    .banner .register:hover {
      background: #ffffff;
      border-color: #ffffff;
      color: #ff6e40; }
  .banner .sponsor-us {
    border: 3px solid #ffffff;
    background-color: transparent;
    color: #ffffff; }
    .banner .sponsor-us:hover {
      background-color: #ffffff;
      color: #ff6e40; }
  .banner .hlink {
    text-shadow: -3px 0px 0px rgba(233, 50, 50, 0.4); }
    .banner .hlink:hover {
      color: #ffe902; }
  @media screen and (max-width: 768px) {
    .banner {
      text-align: center; } }

.about {
  background-color: #ffffff; }
  .about p {
    font-weight: 500;
    font-size: 18px; }
  .about .hashtag {
    color: #ff6e40; }

#faqs p {
  font-size: 18px; }

.sponsors {
  min-height: 75%;
  padding: 48px 0px 48px 0px; }
  .sponsors h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700; }

.sponsor-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 32px; }

.sponsor-wrap {
  justify-content: center;
  align-self: center; }
  .sponsor-wrap .sponsor-img {
    max-width: 150px;
    margin: 20px;
    max-height: 100px; }
  .sponsor-wrap .sponsor-img-large {
    max-width: 400px; }
  .sponsor-wrap #harris {
    padding-top: 11%; }

/*# sourceMappingURL=index.css.map */
