@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:700");
@import url("https://fonts.googleapis.com/css?family=Roboto");
.red {
  color: #DC3D3D; }

.green {
  color: #95C66F; }

.purple {
  color: #B73A99; }

.brown {
  color: #B07953; }

.gray {
  color: #01ABA5; }

.white {
  color: #ffffff; }

/* -------------------------------------------------------------
 *  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
 *  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
 *
 *  List of CSS3 Sass Mixins File to be @imported and @included as you need
 *
 *  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
 *  ENDING css files
 *
 *  note: All CSS3 Properties are being supported by Safari 5
 *  more info: http://www.findmebyip.com/litmus/#css3-properties
 *
 *------------------------------------------------------------- */
a {
  color: #afafaf; }
  a:hover {
    color: #191919;
    text-decoration: none; }

h1, h2, h3, h4, h5 {
  font-family: "Roboto Mono", monospace; }

input {
  border-radius: 0; }

.block {
  height: 100%;
  max-height: 900px; }
  @media screen and (max-width: 1100px) {
    .block {
      max-height: 700px; } }
  @media screen and (max-width: 768px) {
    .block {
      max-height: 600px; } }

.sheet {
  background-color: #ffffff;
  color: #191919;
  padding: 16px 0 32px 0; }

.sheet-gap {
  height: 100px;
  background-color: rgba(255, 140, 0, 0.5); }

.btn-primary {
  background-color: #DC3D3D;
  border-color: #DC3D3D; }
  .btn-primary:hover {
    background-color: #ffffff;
    color: #DC3D3D;
    border-color: #DC3D3D; }

.btn-base, .btn-full-color, .btn-outline {
  font-size: 12px;
  border-radius: 4px;
  padding: 4px 48px;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  text-transform: lowercase;
  min-width: 220px;
  height: 2.75em; }
  @media screen and (min-width: 500px) {
    .btn-base, .btn-full-color, .btn-outline {
      font-size: 18px; } }

.btn-full-color {
  border: 3px solid #DC3D3D;
  background-color: #DC3D3D;
  color: #ffffff; }
  .btn-full-color:hover {
    background: #ffffff;
    border-color: #ffffff;
    color: #DC3D3D; }

.btn-outline {
  border: 3px solid #ffffff;
  background-color: transparent;
  color: #ffffff; }
  .btn-outline:hover {
    background-color: #ffffff;
    color: #DC3D3D; }

.navbar {
  margin-bottom: 0; }
  .navbar .container-fluid {
    padding: 0px; }

.navbar-container {
  min-height: 102px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.navbar-default {
  z-index: 1024;
  background-color: transparent;
  border-radius: 0;
  border-width: 0; }
  .navbar-default .navbar-brand {
    font-family: "Roboto Mono", monospace;
    color: #ffffff;
    font-size: 22px; }
    .navbar-default .navbar-brand:hover {
      color: #ffffff; }
    @media screen and (min-width: 1100px) {
      .navbar-default .navbar-brand {
        font-size: 50px; } }
  .navbar-default .navbar-nav li a {
    font-weight: 700;
    color: #ffffff; }
    .navbar-default .navbar-nav li a:hover {
      color: #DC3D3D; }

.navbar-nav {
  font-family: "Roboto", sans-serif;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-size: 18px;
  text-align: right; }

.dropdown-menu > li > a {
  color: #191919 !important; }

@media (min-width: 768px) {
  .nav {
    float: right !important; } }

html {
  height: 100%;
  background-color: #292C36; }

body {
  height: 100%;
  color: #191919;
  font: 16px/1 "Roboto", sans-serif;
  position: relative;
  line-height: 1.8;
  background: transparent; }

@media (min-width: 1200px) {
  .container {
    max-width: 970px; } }

.banner {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  vertical-align: center;
  justify-content: center; }
  .banner h1 {
    font-size: 20px;
    line-height: 1.5;
    font-family: "Roboto Mono", monospace; }
    @media screen and (min-width: 500px) {
      .banner h1 {
        font-size: 32px; } }
    @media screen and (min-width: 768px) {
      .banner h1 {
        font-size: 44px; } }
  @media screen and (min-width: 768px) {
    .banner {
      height: 100%;
      margin-top: -102px; } }
  .banner .btn-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 8px; }
    .banner .btn-wrapper * {
      margin: 4px 16px;
      padding: 4px 16px; }
  .banner .down-indicator {
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    color: white; }

.about {
  background-color: #ffffff; }
  .about p {
    font-weight: 500;
    font-size: 18px; }
  .about .hashtag {
    color: #DC3D3D; }

#faqs p {
  font-size: 18px; }

.sponsors {
  min-height: 75%;
  padding: 48px 0px 48px 0px; }
  .sponsors h1 {
    font-family: "Roboto Mono", monospace;
    font-weight: 700; }

.sponsor-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 24px; }

.sponsor-wrap {
  justify-content: center;
  align-self: center; }
  .sponsor-wrap .sponsor-img {
    max-width: 150px;
    margin: 20px;
    max-height: 100px; }
  .sponsor-wrap .sponsor-img-medium {
    max-width: 200px;
    margin: 20px; }
  .sponsor-wrap .sponsor-img-large {
    max-width: 350px;
    margin: 20px; }
  .sponsor-wrap #harris {
    padding-top: 11%; }
