*:focus {
  outline: none; }

#quick {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #quick .wrap {
    max-width: 700px; }
    #quick .wrap input[type="text"], #quick .wrap input[type="email"] {
      margin: 0 auto 16px 0; }
