{% extends "form/form.html" %}
{% block form %}

<div class="form-sheet">

  {% include "/form/menuitems.html" %}

  {% if error %}
  <div class="alert alert-danger" role="alert">
    <strong>Houston, we have a problem:</strong>
    {{ error }}
  </div>
  {% endif %}

  {% if success %}
  <div class="alert alert-success" role="alert">
    <strong>Mission accomplished!</strong>
    {{ success }}
  </div>
  {% endif %}


  {% if not team %}
  <!-- If they don't have a team, show the join/create items. -->
  <h2>Manage Team</h2>
	<div class="row">

    <div class="col-md-6 column-left">
      <form action="{{url_for('team_join')}}" method=post>
        <label for="teamID">Join Existing Team</label>
        <input type="text"
          class="form-control"
          id="teamID"
          name=teamID
          placeholder="Enter team ID" required>
          <br />
        <input type="text"
          class="form-control"
          id="teamPasscode"
          name=teamPasscode
          placeholder="Enter team passcode" required>
        <br/>
        <input class="btn btn-primary" type=submit value="Join Team">
      </form>
      <br />
    </div>

		<div class="col-md-6">
			<form action="{{url_for('team')}}" method=post>
	      <label for="team_name">Create New Team</label>
	      <input type="text"
          class="form-control"
          id="team_name"
          name=team_name
          placeholder="Enter team name">
	      <br/>
	      <input class="btn btn-primary" type=submit value="Create Team">
	    </form>
      <br />
		</div>

	</div> <!-- /row -->

  {% else %}
  <!-- Show the team roster and management things -->
  <h2>Your Team</h2>
  <row>
    <div class="col-md-6">
      <form action="{{url_for('team_update')}}" method=post>
        <label for="team_name">Team Name</label>
        <input type="text"
          class="form-control"
          id="team_name"
          name=team_name
          placeholder="Enter a team name"
          value="{{team.team_name}}">
          <br />

        <br />

        <input class="btn btn-primary" type=submit value="Update">
      </form>

      <br />

      <h4>Team Members</h4>
      <ul>
        {% for member in team.members %}
        <li>{{member.email}}</li>
        {% endfor %}
      </ul>


      <br />

      <form action="{{url_for('team_leave')}}" method=post>
        <input class="btn btn-danger" type=submit value="Leave Team">
      </form>

    </div>

    <div class="col-md-6">
      <label>Team Details</label>
      <p>Share these with your friends so they can join your team.</p>
      <strong>Team ID:</strong> {{team.teamID}} <br />
      <strong>Team Passcode:</strong> {{team.teamPass}} <br />
    </div>





  </row>

  {% endif %}

</div>

{% endblock %}
