{% extends "form/form.html" %}
{% block form %}

<div class="form-sheet">

  {% include "/form/menuitems.html" %}


  {% if error %}
  <div class="alert alert-danger" role="alert">
    <strong>Houston, we have a problem:</strong>
    {{ error }}
  </div>
  {% endif %}

  {% if success %}
  <div class="alert alert-success" role="alert">
    <strong>Mission accomplished!</strong>
    {{ success }}
  </div>
  {% endif %}

	{% if message %}
	<div class="alert alert-info" role="alert">
		<strong>Whoa there!</strong>
		{{ message }}
	</div>
	{% endif %}

  <h2>Complete Your Profile</h2>
  <p>
    Once you provide the basic information, you will have the option to complete a more in-depth profile. Please consider filling it out.
    <br />
  </p>

  <!-- {% if profile %}
  <div class="alert alert-info" role="alert">
    Repopulating fields is hard! Even though only some are showing, we promise
    all of them were actually recorded.
  </div>
  {% endif %} -->

    <form action="{{ url_for('profile') }}" method=post>

      <label for="register-firstname">First Name*</label>
      <input type="text" class="form-control" id="register-firstname" name=firstname placeholder="Melina" value="{{profile.firstname}}" required>
      <br/>

      <label for="register-lastname">Last Name*</label>
      <input type="text" class="form-control" id="register-lastname" name=lastname placeholder="Myers" value="{{profile.lastname}}" required>
      <br/>

      <label for="register-fsuid">FSUID*</label>
      <!--Changed from number to text because fsuid contains letters-->
      <input type="text" class="form-control" id="register-fsuid" name=fsuid min="1" value="{{profile.fsuid}}" placeholder="abc12d">
      <p>*If you are receiving extra credit for participating, these fields are required.</p>
      <br/>

      <input class="btn btn-primary" type=submit value="Save Profile">

      <hr />

      {% if session.profile_id %}

        <!-- <label for="register-dob">Date of Birth</label>
        <input type="date" class="form-control" id="register-dob" name=dob min="1">
        <br/> -->

  			<h3>Demographics</h3>
  			<p>These help represent the student body to potential employers.</p>


        <label for="register-gender">Gender</label><br/>
        <select name="gender" id="register-gender">
          <option value=""></option>
          <option value="Male" {% if profile.gender == "Male"%}selected="true"{%endif%}>Male</option>
          <option value="Female"  {% if profile.gender == "Female"%}selected="true"{%endif%}>Female</option>
          <option value="Non-Binary" {% if profile.gender == "Non-Binary"%}selected="true"{%endif%}>Non-Binary</option>
        </select>
        <br/>
        <br/>

        <label for="register-race">Race</label><br/>
          <input
            type="checkbox"
            id="register-race"
            name=race
            value="American Indian or Native Alaskan">American Indian or Native Alaskan</input><br/>
          <input
            type="checkbox"
            id="register-race"
            name=race
            value="Asian">Asian</input><br/>
          <input
            type="checkbox"
            id="register-race"
            name=race
            value="Black or African American">Black or African American</input> <br/>
          <input
            type="checkbox"
            id="register-race"
            name=race
            value="Native Hawaiian or other Pacific Islander">Native Hawaiian or other Pacific Islander</input> <br/>
          <input
            type="checkbox"
            id="register-race"
            name=race
            value="White">White</input><br/>
          <input
            type="checkbox"
            id="register-race"
            name=race
            value="Hispanic">Hispanic</input><br/>
        <br/>

        <!-- <label for="register-allergies">Food Allergies</label>
        <p>Let us know if you have any food allergies.</p>
        <input type="text" class="form-control" id="register-allergies" name=foodallergies value="{{profile.foodallergies}}"> -->
        <!-- <br /> -->


  			<h3>Student Info</h3>
  			<p>If you're a student, please fill these out!</p>
        <!-- <label for="register-ifstudent">Are you a student? (If no, please ignore the next questions)</label><br/>
        <input type="radio" id="register-ifstudent" name=ifstudent value="True" checked>Yes</input><br />
        <input type="radio" id="register-ifstudent" name=ifstudent value="False">No</input><br />
        <br/> -->

        <label for="register-major">Major</label>
        <input type="text"
          class="form-control"
          id="register-major"
          name=major
          style="text-transform:capitalize"
          placeholder="e.g. Computer Science, Information Technology, Mathematics"
          value="{{profile.major}}">
        <br/>

        <label for="register-gradyear">Graduation Year</label>
        <input type="number"
          class="form-control"
          id="register-gradyear"
          name=gradyear
          min="2000"
          max="2030"
          placeholder="2017"
          value="{{profile.gradyear}}">
        <br/>

        <label for="register-gradterm">Graduation Semester</label><br/>
        <select name="gradterm" id="register-gradterm">
          <option value=""></option>
          <option value="Spring" {% if profile.gradterm == "Spring"%}selected="true"{%endif%}>Spring</option>
          <option value="Summer" {% if profile.gradterm == "Summer"%}selected="true"{%endif%}>Summer</option>
          <option value="Fall" {% if profile.gradterm == "Fall"%}selected="true"{%endif%}>Fall</option>
        </select>
        <br/>
        <br/>

        <label for="register-status">Student Status (Undergrad / Graduate / etc.)</label><br />
        <input type="radio" id="register-status" name=status value="undergraduate" {% if profile.status == "undergraduate"%}checked {%endif%}>Undergraduate</input><br />
        <input type="radio" id="register-status" name=status value="graduate" {% if profile.status == "graduate"%}checked {%endif%}>Graduate</input><br />
        <input type="radio" id="register-status" name=status value="highschool" {% if profile.status == "highschool"%}checked {%endif%}>High School</input><br />
        <input type="radio" id="register-status" name=status value="nonstatus" {% if profile.status == "nonstatus"%}checked {%endif%}>Non-status seeking</input><br />
        <br/>

        <label for="register-advProg">Furthest Programming Course</label>
        <p>Please select the course you are currently in, or have taken most recently.</p>
        <select name="advProg" id="register-advProg">
          <option value=""></option>
          <option value="N/A" {% if profile.advProg == "N/A"%}selected="true"{%endif%}>N/A</option>
          <option value="COP3014" {% if profile.advProg == "COP3014"%}selected="true"{%endif%}>COP3014</option>
          <option value="COP3330" {% if profile.advProg == "COP3330"%}selected="true"{%endif%}>COP3330</option>
          <option value="COP4530" {% if profile.advProg == "COP4530"%}selected="true"{%endif%}>COP4530</option>
          <option value="COP4531" {% if profile.advProg == "COP4531"%}selected="true"{%endif%}>COP4531</option>
        </select>
        <br />
        <br />

        <input class="btn btn-primary" type=submit value="Save Profile">

      {% endif %}

    </form>

  </div>

</div>

{% endblock %}
