{% extends "form/form.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/quick.css')}}"/>
{% endblock %}

{% block form %}

    <div id="quick">

        <div class="wrap">

            {% include "form/feedback.html" %}


            <h1>Quick Registration</h1>
            <form action="/quickregister" method=post>

                <label for="quick-teamname">Team Name</label>
                <input type="text" class="form-control" id="quick-teamname" name=teamname placeholder="Team Name" required />

                <label for="quick-email1">Team Member 1's Email</label>
                <input type="email" class="form-control" id="email1"
                name=email1 placeholder="Email Address" required />

                <label for="quick-email1">Team Member 2's Email</label>
                <input type="email" class="form-control" id="email2"
                name=email2 placeholder="Email Address" />

                <label for="quick-email1">Team Member 3's Email</label>
                <input type="email" class="form-control" id="quick-email1"
                name=email3 placeholder="Email Address" />

                <input class="btn btn-full-color" type=submit value="Register">


            </form>
        </div>
    </div>

{% endblock %}
