{% extends "/super/form.html" %}
{% block content %}

<div class="container form-container">

  {% if error %}
  <div class="alert alert-danger" role="alert">
    <strong>Houston, we have a problem:</strong>
    {{ error }}
  </div>
  {% endif %}

  {% if success %}
  <div class="alert alert-success" role="alert">
    <strong>Mission accomplished!</strong>
    {{ success }}
  </div>
  {% endif %}

  {% include "/form/menuitems.html" %}

  <br/>

    <form action="{{ url_for('updatepassword') }}" method=post class='form-horizontal'>

      <label for="register-currentpassword">Current Password*</label>
      <input type="password" class="form-control" id="register-currentpassword" name=currentpassword required>

      <br/>

      <label for="register-newpassword">New Password*</label>
      <input type="password" class="form-control" id="register-newpassword" name=newpassword required>
      <br/>

      <input class="btn btn-primary" type=submit value="Save password">
    </form>
</div>

{% endblock %}
