
<section id="about" class="about section content">
	<div class="container">

		<h1>About</h1>
		<h3>ACM's Programming Contest <span class="hashtag">#notahackathon</span></h3>
		<p>
			The Fall Programming Contest is a cross-campus coding competition that emphasizes problem solving executed in code. We're inviting over 300 students, faculty, and staff from all majors and colleges to come compete in our multiple divisions to prove their coding prowess.

			<br />
			<br />

			With only 5 hours to work and 3 members to a team, competitors will tackle a challenging set of ICPC style coding questions not unlike those asked by recruiters in a technical interview.

			<br />
			<br />

			Contest winners will receive fame, fortune, and sweet, sweet loot. Last year's prizes included Amazon Echoes, Raspberry Pies, Chromecasts, and ACM chapter t-shirts.

		</p>

	</div>
</section>
