
<div id="faq" class="sheet">
	<div class="container">

		<h1 class="post-title">FAQs</h1>

		<div class="row">

			<div class="col-md-12">
				<h3>So how does this contest thing work?</h1>
				<p>It starts with a question.<br /><br />

				You'll get a prompt, which has both some
				flavor text, as well as a description of the problem. You'll also be
				given some constraints on the input, as well as some sample input and
				corresponding output.<br /><br />

				From there, your team will need to work together
				to write code that will produce the correct output for any input we
				could throw at you.<br /><br />

				Scoring is done by combining how quickly your team submitted the solution
				with how fast your solution ran. The teams with the best score win. <br /><br />

				<a href="{{url_for('static', filename='assets/packetFA16.pdf')}}">Here's last term's packet.</a>

				</p>

			</div>
			<div class="col-md-6">
				<h3>When and where?</h1>
					<p>
						SPC '17 will take place from 8AM to 4PM on March 25th. This year's
						venue will be the Love Building, FSU.
					</p>
			</div>

			<div class="col-md-6">
				<h3>Who can come?</h1>
					<p>
						Everyone is welcome! Students, teachers, staff from both high-schools
						and colleges are welcome, as well as those not in those categories.
					</p>
			</div>

			<div class="col-md-6">
				<h3>How much does it cost?</h1>
					<p>
						Absolutely nothing. Admission is free, and so is the food. Breakfast
						starts at 8AM, and lunch will be served close to noon.
					</p>
			</div>

			<div class="col-md-6">
				<h3>What do I need to bring?</h1>
					<p>
						A laptop and your charger for sure. We totally recommend some
						pens or pencils to jot down your thoughts as you work to solve
						the questions.
					</p>
			</div>

			<div class="col-md-6">
				<h3>What about these teams?</h1>
					<p>
						Teams consist of up to three people. You can work together on a
						single computer. You'll register your teams online (coming soon!)
					</p>
			</div>

			<div class="col-md-6">
				<h3 id="team-faq">How will I register my team?</h1>
					<p>
						After you complete your profile, you will have the option to either
						create or join a team. If you create a team, you will be given a
						username and password for your team. You can share this with your
						friends. They'll be able to use these creds to join your team.
					</p>
			</div>

			<div class="col-md-6">
				<h3>How much experience do I need?</h1>
					<p>
						We recommend some early programming experience in one of our
						supported languages: C/C++, Java, Python, Perl, C#, and Javascript.
						You'll have access to official language documentation, but that's it.
						No Google, no StackOverflow.
					</p>
			</div>




			<div class="col-md-6">
				<h3>Wait, what about...?</h1>
					<p>
						If you have any other questions, just let us know! <a href="mailto:hello@acmatfsu.org">Email us.</a>
					</p>
			</div>




		</div>

	</div>
</div>
