{% extends "base2.html" %}

{% block styles %}
	<link rel="stylesheet" href="{{url_for('static', filename='styles/index.css')}}">
{% endblock %}

{% block bodyattribs %} {% endblock bodyattribs %}

<!-- Content in here -->
{% block content %}

	<section class="hero is-fullheight header">

		<div class="hero-head">
		</div>

		<div class="hero-body content">
			<div class="container">
				<!-- <h1 class="">/* acm at fsu */</h1>
				<h1>
					<span class="">[fall]</span>
					<span class="">programming</span>
					<span class="">contest</span>
				</h1>
				<h1 class="">October 28th 8AM – 4PM</h2> -->
				<img src="{{url_for('static', filename='assets/spc2018.svg')}}"/>

				<span class="title is-5">March 31st 8AM - 4PM | Love Bldg. FSU</span>

				<div class="buttons">
					{% include "common/register-button.html" %}
					<!-- <input class="button acm is-outlined" type="button" onclick="location.href='/quickregister'"   value="Quick Register"> -->
					<input class="button acm is-outlined" type="button" onclick="location.href='mailto:hello@acmatfsu.org';" value="Contact Us">
				</div>

			</div>
		</div>

		<!-- <div classs="hero-foot">
				<i class="fa fa-chevron-down fa-lg" aria-hidden="true"></i>
		</div> -->




	</section>


	{% include 'index/about.html' %}
	{% include 'index/faqs.html' %}
	{% include 'index/sponsors.html' %}


{% endblock %}
