
<section id="sponsors" class="section content">
	<div class="container">

		<h1>Our Sponsors</h1>


			<div class="columns is-centered">
				<div class="column is-5">
					<img id="harris" src="{{url_for('static', filename="assets/harris.svg")}}" />
				</div>

				<div class="column is-1"></div>

				<div class="column is-5">
					<img id="appriver" src="{{url_for('static', filename="assets/appriver.png")}}" />
				</div>
			</div>

			<div class="columns is-centered">
				<div class="column is-3">
					<img src="{{url_for('static', filename="assets/domi-station.png")}}" />
				</div>
				<div class="column is-1"></div>
				<div class="column is-3">
					<img src="{{url_for('static', filename="assets/cot.png")}}" />
				</div>
				<div class="column is-1"></div>
				<div class="column is-3">
					<img src="{{url_for('static', filename="assets/vr.png")}}" />
				</div>
			</div>



			<!-- <img src="{{url_for('static', filename="assets/github.png")}}" /> -->
						<!-- <img src="{{url_for('static', filename="assets/vr.png")}}" /> -->
						<!-- <img src="{{url_for('static', filename="assets/dci.png")}}" /> -->
						<!-- <img src="{{url_for('static', filename="assets/cuttlesoft.png")}}" /> -->
						<!-- <img src="{{url_for('static', filename="assets/state-farm.png")}}" /> -->
				</div>
	</div>


</section>
