@import "page"

// Generic form styles

.textbox
	font-family: 'Helvetica', sans-serif
	font-weight: 400
	font-size: 1em
	padding: 0 10px


.form-sheet
	color:				$dark-grey
	padding:			0px 32px
	border-radius: 		4px

	.menuitems
		display: flex
		flex-direction: row
		justify-content: flex-end
		flex-wrap: wrap
		margin: 16px 0

		a
			text-transform: lowercase
			font-family: $body
			margin-left: 20px

	.column-left
		@media screen and (min-width: 992px)
			border-right: 4px solid $light-grey


// Unique form styles
.login-container
	// display: flex
	// flex-direction: column
	// justify-content: center

	max-width: 500px
	text-align: center

	.login-form
		display: flex
		flex-direction: column
		justify-content: center

		h2
			margin: 0.5em 0

		input
			height: 2.75em
			margin: 0.5em 0

		.btn-full-color:hover
			border-color: $accent

		hr
			// border-color: $accent
			width: 100%

		#btn-submit
			width: 100%

		#forgot-password
			margin-top: 0.5em

	.btn-outline
		color: $accent
		background-color: $white
		border-color: $accent


#forgot-password
	background: rgba(0,0,0,0)
	border: 0

#reset-password-email
	margin-bottom: 0.5em
