{% extends "/super/form.html" %}
{% block content %}

<div class="container form-container form-sheet">

  <h1>Teams and Members</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Team Members</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for team in teams %}
        <tr>
          <td>{{team.teamName}}</td>
          {% for member in team.members %}
            <td>{{member.firstname}} {{member.lastname}}</td>
          {% endfor %}
        </tr>
      {% endfor %}

      {% if teams|length < 2 %}
        <td></td>
      {% endif %}

      {% if teams|length < 3 %}
        <td></td>
      {% endif %}

    </tbody>

  </table>

</div>

{% endblock %}
