{% extends "form/form.html" %}
{% block form %}

<div class="container form-container form-sheet">

  <h1>Teams and Members</h1>
  <p>
      Only teams where at least one teammate's profile is completed will be shown.
  </p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Team Members</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for team in teams %}
        <tr>
          <td>{{team.team_name}}</td>
          {% for member in team.members %}
            {% if member.profile %}
            <td>{{member.profile.firstname}} {{member.profile.lastname}}</td>
            {% else %}
            <td></td>
            {% endif %}
          {% endfor %}

          {% if team.members|length < 2 %}
            <td></td>
          {% endif %}

          {% if team.members|length < 3 %}
            <td></td>
          {% endif %}

        </tr>
      {% endfor %}

    </tbody>

  </table>

</div>

{% endblock %}
