
<div class="footer">
  <div class="container">

    <div class="row">

      <!-- ACM Links -->
      <div class="col-md-3">
        <p>ACM at FSU</p>
        <ul>
          <li><a>Chapter Homepage</a></li>
          <li><a>Facebook</a></li>
          <li><a>Slack</a></li>
          <li><a>Nole Central</a></li>
        </ul>

      </div>

      <!-- -->
      <div class="col-md-3">.col-md-3</div>

      <!-- Empty Columns -->
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>

    </div>
  </div>

</div>
