
<div id="about" class="sponsors sheet">
	<div class="container">

		<h1 class="post-title">Our Sponsors</h2>
		<div class="sponsor-wrapper">

			<div class="sponsor-row">

				<div class="sponsor-wrap">
					<div class="sponsor-inner-wrap">
						<img id="harris"
							class="sponsor-img-large"
							src="{{url_for('static', filename="assets/harris.png")}}" />
					</div>
				</div>

			</div>

			<div class="sponsor-row">

				<div class="sponsor-wrap">
					<img class="sponsor-img"
							src="{{url_for('static', filename="assets/domi-square.png")}}" />
				</div>

				<div class="sponsor-wrap">
					<img class="sponsor-img"
						src="{{url_for('static', filename="assets/dci.png")}}" />
				</div>

				<div class="sponsor-wrap">
					<img class="sponsor-img"
						src="{{url_for('static', filename="assets/cuttlesoft.png")}}" />
				</div>

				<div class="sponsor-wrap">
					<img class="sponsor-img"
						src="{{url_for('static', filename="assets/state-farm.png")}}" />
				</div>

			</div>

		</div>

	</div>
</div>
